{% load static %}

#logo-img {
    max-width: 40vw;
    height: auto;
}

@media (max-width: 768px) {
    #logo-img {
        max-width: 80%;
    }
}

.card {
    margin: 10px;
    border-radius: 10px;
}
.card-title {
    font-size: 1.25rem;
    color: #007bff;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.list-group-item {
    font-size: 1rem;
}
.success-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}